--extra-index-url https://nasa-gcn.github.io/healpy-prerelease-pypi-index/simple/
astropy
astropy_healpix
aioboto3
cachetools
email-validator
fastapi
healpy==0.1.dev1+g500357b
httpx
mangum
python-jose
python-multipart
shapely
sgp4
spacetrack
