architect-functions
astropy
astropy-healpix
architect-functions
cachetools
email-validator
fastapi
mangum
requests
sqlalchemy
sgp4
cachetools
shapely
python-multipart
sgp4
spacetrack
psycopg2-binary

